Label 
{
    white-space: normal;
}

#root
{
    padding: 10px;
}

#root > *
{
    margin: 5px 0px;
}

.entry
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#space
{
    margin: 10px 0px;
}

.entry-field
{
    width: auto;
    flex-grow: 1;
}